<!DOCTYPE html>
{% load static %}
<html>
    {% if user.is_authenticated %}
        <head>      
            <title>Главная</title>   
            <link rel="stylesheet" href="{% static "css/main.css" %}" />
            <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />      
        </head>
        <body>

            <nav class="navbar navbar-dark bg-primary">
                <span class="navbar-text">
                    Вы авторизовались как: <b>{{ user.get_username }}</b>
                </span>
            </nav>
            
            <div class="parent">
                {% if po.count > 0 %}
                <div id="pod">
                    <p align="center">Подотченые лица</p>
                    {% for p in po %}
                        {% if p.profile.is_podot == True %}
                            <p id="sp"><a href="spis/{{ p.username }}"> {{ p.username }}</a></p>
                        {% endif %}
                    {% endfor %}                
                </div>
                {% endif %}
                {% if ty.count > 0 %}
                <div id="spis">
                    <p align="center">Перечень типов техники</p>
                    {% for t in ty %}
                    <p id="sp"><a href="spis/?type={{ t.TypeTech }}"> {{ t.TypeTech }}</a></p>
                    {% endfor %}                
                </div>
                {% endif %}
                {% if ko.count > 0 %}
                <div id="korp">
                    <p align="center">Список корпусов</p>
                    {% for k in ko %}
                    <p id="sp"><a href="spis/{{ k.NomKorpusa }}"> {{ k.NomKorpusa }}</a></p>
                    {% endfor %}                
                </div>
                {% endif %}
                <div id="search">
                <form method="GET" action="/main/spis/">                  
                    <p><input name="q" type="txt" size="30" placeholder="Введите поисковой запроса"> </p>
                    <p><input type="submit" value="Поиск"></p>
                </form>
                <p></p><a href="/main/spis/">Показать весь список</a></p>
                <p></p><a href="">Добавить технику к списку</a></p>
                </div>
            </div>
        </body>
    {% else %}
        <head>
            <meta http-equiv="refresh" content="0; url=/">
            
        </head>
    {% endif %}
</html> 