<!DOCTYPE html>
{% load static %}
<html>
    {% if user.is_authenticated %}
        <head>      
            <title>Список техники</title> 
            <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />  
        </head>
        <body>
            <div class="parent">
                <nav class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand">Инвентарная информация</a>
                    <span class="navbar-text text-white">
                       Вы авторизовались как: <b>{{ user.get_username }}</b> / <a href="/logout">Выход</a>
                    </span>
                </nav>
                <div id="srrez">
                    {% for q in qs %}
                    <p id="sp"><a href="spis/{{ q.InvNomer }}"> {{ q.InvNomer }}</a></p>
                    {% endfor %}  
                </div>
                <div id="srrezin">

                </div>
            </div>
        </body>
    {% endif %}
</html>